/*
 * icons: https://www.google.com/design/icons/
 * colors: https://www.google.com/design/spec/style/color.html#color-color-palette
 * colors hue: 100
 */

.sheet {
  margin: 8px;
  padding: 4px;
  border-radius: 2px;
  background: #fff;
  display: block;
  float: left;
  position: relative;
}

.tips {
   width: 632px;
   background: #FFF9C4;
   padding: 8px;
 }

.card {
  width: 140px;
  height: 220px;
  text-align: center;
}

.clear {
  clear: both;
}

.card h1 {
  font-size: 1.1em;
}

.card .action {
  bottom: 4px;
  width: 95%;
  height: 30%;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.card.interrupt {
  background-color: #ffcdd2;
}

.card.Ending {
  background-color: #bbdefb;
}

.discarded {
    color: #bbb;
}
