/*
 * icons: https://www.google.com/design/icons/
 * colors: https://www.google.com/design/spec/style/color.html#color-color-palette
 * colors hue: 100
 */

body {
  /*background: #eeeded;*/
}
a {
  color: rgb(63, 81, 181);
  /* primary */
  text-decoration: none;
  font-weight: bold;
}
.tips {
  background: #FFF9C4;
}
.card {
  width: 135px;
  height: 220px;
  text-align: center;
}
*:focus {
  outline: none;
}
.card, .tips {
  padding-left: 8px;
  padding-right: 8px;
}
.clear {
  clear: both;
}
.card h1 {
  font-size: 1.1em;
}
.card h2 {
  font-size: 1em;
}
.card.interrupt {
  background-color: #ffcdd2;
}
.card.ending {
  background-color: #bbdefb;
}
.discarded {
  color: #bbb;
}
.light {
  color: rgba(0, 0, 0, 0.26);
}
.md.sm {
  font-size: 2em;
}
.md.md {
  font-size: 4em;
}
.md.lg {
  font-size: 6em;
}
.card md-icon.sm {
  font-size: 24px;
  height: 24px;
  margin-left: 4px;
}
.card md-icon.md {
  font-size: 48px;
  height: 48px;
  margin-left: 7px;
}
.card md-icon.lg {
  font-size: 96px;
  height: 96px;
  margin-left: 15px;
}
.card md-icon {
  display: block;
}
