/*
 * icons: https://www.google.com/design/icons/
 * colors: https://www.google.com/design/spec/style/color.html#color-color-palette
 * colors hue: 100
 */

body {
  background: #eeeded;
}
.tips {
  background: #FFF9C4;
}
.card {
  width: 135px;
  height: 220px;
  text-align: center;
}
.card *:focus {
  outline: none;
}
.card, .tips {
  padding-left: 8px;
  padding-right: 8px;
}
.clear {
  clear: both;
}
.card h1 {
  font-size: 1.1em;
}

.card h2 {
  font-size: 1em;
}

.card.interrupt {
  background-color: #ffcdd2;
}
.card.ending {
  background-color: #bbdefb;
}
.discarded {
  color: #bbb;
}
.mdi.sm {
  font-size: 2em;
}
.mdi.md {
  font-size: 4em;
}
.mdi.lg {
  font-size: 6em;
}
.mdi.light {
  color: rgba(0, 0, 0, 0.26);
}
